<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Users</title>
</head>
<body>
<h1>Users</h1>

<table border="1">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Age</th>
        <th>Email</th>
        <th>Password</th>
        <th>Action</th>
    </tr>
    <tr th:each="user : ${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.firstName}"></td>
        <td th:text="${user.lastName}"></td>
        <td th:text="${user.age}"></td>
        <td th:text="${user.email}"></td>
        <td th:text="${user.password}"></td>
        <td>
            <a th:href="@{'/users/edit/' + ${user.id}}">Edit</a> |
            <a th:href="@{'/users/delete/' + ${user.id}}">Delete</a>
        </td>
    </tr>
</table>

<br>
<button onclick="window.location.href='/users/add'">Add New User</button>

</body>
</html>